<!-- views/home.ejs -->

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Bullet Task Management</title>
    <link rel="stylesheet" href="/css/semantic.css">
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>
    <div class="container">
        <%- include('partials/navbar') %>
        <div class="header">
            <h1>Task Management System</h1>
            <h3>Current tasks</h3>
        </div>
        <div class="tlist">
            <div class="item">
            <div class="creator">
                Owner3
            </div>
            </div>
            
        </div>
            
        </div>
        <%- include('partials/footer') %>
    </div>
</body>

</html>